<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.ncs.mappers.DepartmentMapper">

	<resultMap type="Department" id="DepartmentResult">
		<id column="dcode" property="deptNo" />
		<result column="dname" property="deptName" />
		<result column="floor" property="floor" />
	</resultMap>

	<sql id="selectSql">
		select dcode, dname, floor from department
	</sql>

	<sql id="whereSql">
		<where>
			<if test="dcode != null">
				dcode = #{dcode}
			</if>
		</where>
	</sql>


	<select id="selectOne" parameterType="map" resultMap="DepartmentResult">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>


	<select id="select" resultMap="DepartmentResult">
		<include refid="selectSql" />
	</select>

	<select id="lastNum" resultType="int">
		select max(dcode) from
		department
	</select>

	<insert id="insert" parameterType="Department">
		INSERT INTO department(dcode,
		dname, floor)VALUES(#{deptNo}, #{dname}, #{floor});
	</insert>
	<update id="update" parameterType="Department">
		UPDATE department
		SET dname=#{dname}, floor=#{floor}
		WHERE dcode=#{deptNo}
	</update>
	<delete id="delete" parameterType="Department">
		DELETE FROM employee WHERE
		dcode=#{deptNo}
	</delete>
</mapper>