<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.ncs.mappers.EmployeeMapper">
	<resultMap type="Employee" id="EmployeeResult">
		<id column="eno" property="empNo" />
		<result column="ename" property="empName"/>
		<result column="salary" property="salary"/>
		<result column="dcode" property="department.deptNo"/>
		<result column="dname" property="department.deptName"/>
		<result column="floor" property="department.floor"/>
		<result column="gender" property="gender"/>
		<result column="joindate" property="joinDate"/>
		<result column="tcode" property="title.no"/>
		<result column="tname" property="title.title"/>
	</resultMap>
	
	<sql id="selectSql">
		select eno, ename, salary, dcode, dname, floor, gender, date_format(joindate, '%Y-%m-%d') as joindate, tcode, tname 
		from employee e join title t on e.title=t.tcode join department d on e.dno = d.dcode
	</sql>

	<sql id="whereSql">
		<where>
			<if test="eno != null">
				eno = #{eno}
			</if>
		</where>
	</sql>

	<select id="selectOne" parameterType="map" resultMap="EmployeeResult">
		<include refid="selectSql" />
		<include refid="whereSql" /> 
	</select>

	
	<select id="select" resultMap="EmployeeResult">
		<include refid="selectSql" />
		order by eno
	</select>
	
	<select id="lastNum" resultType="int">
		select max(eno) from employee
	</select>
	
	<insert id="insert" parameterType="Employee">
		INSERT INTO employee (eno, ename, salary, dno, gender, joindate, title)
		VALUES(#{empNo}, #{empName}, #{salary}, #{department.deptNo}, #{gender}, #{joinDate}, #{title.no})
	</insert>
	
	<update id="update" parameterType="Employee">
		UPDATE employee SET ename=#{empName}, salary=#{salary}, dno=#{department.deptNo}, gender=#{gender}, joindate=#{joinDate}, title=#{title.no}
		WHERE eno=#{empNo}
	</update>
	<delete id="delete" parameterType="Employee">
		DELETE FROM  employee WHERE eno=#{empNo}
	</delete>
</mapper>